<!DOCTYPE html>
<html>
<head>
  <title>GoogleMaps</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCnswvWzrZIdYEwzLDgJpF4x6i6quj3LFg&sensor=false" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
</html>
